.container {
  margin: 0 auto;
  width: max-content;
  display: flex;
  justify-content: center;
}
.smile {
  padding: 10px;
  cursor: pointer;
}
.tittle {
  text-align: center;
}
.number {
  text-align: center;
}